AIzaSyDj62pEnT23-fk84t1df-1wuRUNOZ6VTak

node_modules
chave-api.txt

imersaoAluraFelipe
quEidPPpKOLmNb9l

mongodb+srv://imersaoAluraFelipe:quEidPPpKOLmNb9l@cluster0.xndyg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
.env

npm run dev